/* Colores Principales */
/* Animaciones */
/* Fuentes */
/* Footer General */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E3DAC9; }

.footer__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .footer__ul a {
    cursor: pointer;
    color: #333; }
  .footer__ul li i {
    font-size: 35px;
    padding: 10px; }

#instagram a:hover {
  color: #E1306C;
  transition: 0.4s; }

#facebook a:hover {
  color: #405DE6;
  transition: 0.4s; }

#whatsapp a:hover {
  color: #28D146;
  transition: 0.4s; }

#linkedin a:hover {
  color: #0e76a8;
  transition: 0.4s; }

#mastercard a:hover {
  color: #EB001B;
  transition: 0.4s; }

#bitcoin a:hover {
  color: #F7931A;
  transition: 0.4s; }

#up a:hover {
  color: #E1306C;
  transition: 0.4s; }

/* Header General */
#header {
  padding: 12px;
  background-color: #E3DAC9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
  #header i {
    font-size: 30px; }

.nav__link {
  padding: 15px;
  color: #696969;
  text-decoration: none;
  font-size: 20px;
  font-family: "Rubik", sans-serif; }

.stay__link {
  font-size: 22px;
  color: #000000; }

.stay__link:hover {
  color: #000000; }

/* CSS general */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #E3DAC9;
  width: 100%; }

/* CSS INDEX */
.index__img {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 35px;
  place-content: center;
  height: 700px; }
  .index__img h1 {
    color: #333;
    text-align: center;
    margin: 25px;
    padding: 5px 5px;
    font-size: 20px;
    font-family: "Rubik", sans-serif; }
  .index__img img {
    width: 1500px;
    height: 100%;
    border-bottom: 1px solid black; }

/* CSS CONTACTO */
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  background-color: #4a4e69;
  padding: 35px;
  margin: auto;
  margin-top: 75px;
  border-radius: 10px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000; }
  .main__form h4 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center; }

.form__input {
  width: 100%;
  background-color: #cad2c5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-right: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  color: black;
  border: none; }

.form__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #cad2c5;
  color: #000;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 10px;
  position: relative;
  overflow: hidden; }
  .form__btn span {
    position: relative;
    z-index: 2; }
  .form__btn::after {
    content: "";
    width: 100%;
    height: 300px;
    background: #b5838d;
    position: absolute;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: .3s ease-in-out all;
    border-radius: 0px 0px 300px 300px; }
  .form__btn:hover::after {
    top: 0; }

.main__form p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.main__form a {
  color: white;
  text-decoration: none; }

.main__form a:hover {
  color: #b5838d;
  text-decoration: underline; }

.main__form .btn {
  width: 100%;
  background-color: #b5838d;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.main__form .btn:hover {
  color: white;
  text-decoration: dashed; }

.contact__footer {
  background-color: #E3DAC9; }

/* CSS TIENDA */
.main__tienda {
  padding: 70px; }

.h1__tienda {
  padding: 5px;
  text-align: center;
  font-size: 45px;
  font-family: "Rubik", sans-serif; }

.img__tienda {
  height: 270px;
  width: 100%; }

.btn__tienda {
  background-color: #3e8914; }

.btn__comprar {
  padding-right: 10px; }

.footer__tienda {
  border-top: 1px ridge #A0A0A0; }

/* CSS UBICACION */
#main__preg {
  padding-left: 30px; }

.design__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; }
  .design__map .mapa__ubicacion {
    width: 100%;
    height: 500px;
    border: 0; }
  .design__map .h1__map {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro"; }
  .design__map .h2__map {
    text-align: center;
    font-size: 20px;
    letter-spacing: normal; }

.envios__ubicacion {
  padding: 70px;
  margin: 0 auto;
  gap: 40px; }
  .envios__ubicacion .row {
    flex-direction: row;
    gap: 200px; }
  .envios__ubicacion .img-fluid {
    width: 100%;
    height: 170px; }
  .envios__ubicacion .p__ubicacion {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: "Rubik", sans-serif; }

/* CSS DESING */
.section__design {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #beb2a4; }

.h1__design {
  padding: 18px;
  text-align: center;
  letter-spacing: normal;
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  border-bottom: 1px solid #605a53; }

.data__design {
  margin: 0 auto;
  align-self: center; }
  .data__design .tittle__p {
    text-align: start;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro";
    font-size: 45px;
    line-height: 40px;
    color: #222222; }
  .data__design h2 {
    text-align: start;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro";
    line-height: 20px;
    font-size: 25px; }
  .data__design p {
    text-align: start;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro";
    line-height: 19.2px;
    color: #605a53; }

.ol__design {
  padding: 10px;
  margin: 0; }
  .ol__design a {
    text-align: start;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro";
    text-decoration: none;
    font-size: 15px;
    color: #222222; }

.amarillo__esmstd:hover {
  color: #ffb703;
  transition: 0.4s; }

.crema__esmstd:hover {
  color: #cad2c5;
  transition: 0.4s; }

.gris__esmstd:hover {
  color: #6c757d;
  transition: 0.4s; }

.tabaco__esmstd:hover {
  color: #7f4f24;
  transition: 0.4s; }

.marron__esmstd:hover {
  color: #582f0e;
  transition: 0.4s; }

.verde__esmstd:hover {
  color: #588157;
  transition: 0.4s; }

.cyan__esmstd:hover {
  color: #005f73;
  transition: 0.4s; }

.bone__esmstd:hover {
  color: #e4d0ab;
  transition: 0.4s; }

/* Media Query */
/* Medidas para Smartphone */
@media screen and (min-width: 430px) and (max-width: 576px) {
  /* Nav Responsive */
  .nav__link {
    padding: 5px;
    font-size: 18px;
    text-decoration: underline;
    color: #696969; }
  /* Index Responsive */
  .index__img {
    grid-gap: 30px;
    padding: 0;
    height: 550px; }
    .index__img img {
      width: 100%; }
    .index__img h1 {
      letter-spacing: normal;
      font-size: 25px; }
  /* Design Responsive */
  .h1__design {
    padding: 25px;
    font-size: 35px;
    border-bottom: 1px solid #605a53; }
  .section__design {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
  .data__design {
    margin: 0 auto;
    align-self: center; }
    .data__design .tittle__p {
      text-align: start;
      letter-spacing: normal;
      font-family: "adobe-garamond-pro";
      line-height: 30px;
      font-size: 30px; }
    .data__design h2 {
      padding: 5px;
      font-size: 20px;
      text-align: center;
      color: #222222; }
    .data__design p {
      text-align: start;
      letter-spacing: normal;
      line-height: 20px;
      font-family: Georgia, "serif";
      color: #605a53; }
  .ol__design {
    padding: 0;
    margin: 0; }
    .ol__design a {
      text-decoration: none;
      font-size: 15px;
      color: #222222; }
  /* Ubicacion Responsive */
  .envios__ubicacion {
    padding: 70px;
    gap: 20px; }
    .envios__ubicacion .row {
      flex-direction: column;
      gap: 10px; }
    .envios__ubicacion .img-fluid {
      width: 75%;
      height: 150px; }
    .envios__ubicacion .p__ubicacion {
      text-align: center;
      padding: 10px;
      font-size: 23px; }
  /* Contacto Responsive */
  .main__form {
    width: 360px; }
  .main__form p {
    padding: 15px;
    line-height: 20px; }
  /* Tienda Responsive */
  .h1__tienda {
    padding: 0;
    font-size: 25px;
    color: #424949; } }

@media screen and (min-width: 330px) and (max-width: 430px) {
  /* Footer Responsive */
  .footer__ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-top: #605a53 1px solid; }
    .footer__ul a {
      cursor: none;
      color: #333; }
    .footer__ul li i {
      align-self: center;
      font-size: 25px;
      padding: 13px; }
  .footer__tienda li i {
    font-size: 20px; }
  /* Nav Responsive */
  .nav__link {
    padding: 5px;
    font-size: 16px;
    text-decoration: underline;
    color: #696969; }
  /* Index Responsive */
  .index__img {
    grid-gap: 30px;
    padding: 0;
    height: 600px; }
    .index__img img {
      width: 100%; }
    .index__img h1 {
      letter-spacing: normal;
      font-size: 20px; }
  /* Design Responsive */
  .h1__design {
    padding: 20px;
    font-size: 30px;
    border-bottom: 1px solid #605a53; }
  .section__design {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
  .data__design {
    margin: 0 auto;
    align-self: center; }
    .data__design .tittle__p {
      text-align: start;
      letter-spacing: normal;
      font-family: "adobe-garamond-pro";
      line-height: 30px;
      font-size: 25px; }
    .data__design h2 {
      padding: 5px;
      font-size: 20px;
      text-align: center;
      color: #222222; }
    .data__design p {
      text-align: start;
      letter-spacing: normal;
      line-height: 20px;
      font-family: Georgia, "serif";
      color: #605a53; }
  .ol__design {
    padding: 0;
    margin: 0; }
    .ol__design a {
      text-decoration: none;
      font-size: 15px;
      color: #222222; }
  /* Ubicacion Responsive */
  .envios__ubicacion {
    padding: 70px;
    gap: 20px; }
    .envios__ubicacion .row {
      flex-direction: column;
      gap: 10px; }
    .envios__ubicacion .img-fluid {
      width: 100%;
      height: 120px; }
    .envios__ubicacion .p__ubicacion {
      text-align: center;
      padding: 10px;
      font-size: 20px; }
  /* Contacto Responsive */
  .main__form {
    width: 330px; }
  .main__form p {
    padding: 15px;
    line-height: 20px; }
  /* Tienda Responsive */
  .h1__tienda {
    padding: 0;
    font-size: 25px;
    color: #424949; } }

/* Medidas para Tablets */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Nav Responsive */
  .nav__link {
    padding: 5px;
    font-size: 18px;
    text-decoration: underline;
    color: #696969; }
  /* Index Responsive */
  .index__img {
    padding: 45px; }
  /* Design Responsive */
  .h1__design {
    padding: 20px;
    font-size: 35px; }
  .section__design {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
  .data__design {
    margin: 0 auto;
    align-self: center; }
    .data__design .tittle__p {
      text-align: start;
      letter-spacing: normal;
      font-family: "adobe-garamond-pro";
      line-height: 30px;
      font-size: 35px;
      padding: 5px; }
    .data__design h2 {
      padding: 0;
      font-size: 25px;
      text-align: start;
      color: #222222; }
    .data__design p {
      padding: 5px;
      font-size: 20px;
      text-align: start;
      letter-spacing: normal;
      line-height: 20px;
      font-family: Georgia, "serif";
      color: #605a53; }
  .ol__design {
    padding: 5px; }
    .ol__design a {
      text-align: start;
      letter-spacing: normal;
      font-family: "adobe-garamond-pro";
      text-decoration: none;
      font-size: 20px;
      color: #222222; }
  .envios__ubicacion {
    padding: 50px;
    gap: 25px; }
    .envios__ubicacion .row {
      flex-direction: row;
      gap: 10px; }
    .envios__ubicacion .img-fluid {
      width: 75%;
      height: 140px; }
    .envios__ubicacion .p__ubicacion {
      text-align: center;
      padding: 10px;
      font-size: 20px; }
  /* Tienda Responsive */
  .img__tienda {
    height: 200px;
    width: 100%; }
  .btn__tienda {
    background-color: #3e8914;
    width: 150px; }
  .h1__tienda {
    padding: 0;
    font-size: 30px;
    color: #424949; } }
