/* Media Query */

/* Medidas para Smartphone */

@media screen and (min-width: 430px) and (max-width: 576px){

    /* Nav Responsive */

    .nav__link{
        padding: 5px;
        font-size: 18px;
        text-decoration: underline;
        color: #696969;
    }

    /* Index Responsive */
    
    .index__img{
        grid-gap: 30px;
        padding: 0;
        height: 550px;
        & img{
            width: 100%;
        }
        & h1{
            letter-spacing: normal;
            font-size: 25px;
        }
    }
    
    /* Design Responsive */

    .h1__design{
        padding: 25px;
        font-size: 35px;
        border-bottom: 1px solid #605a53;
    }

    .section__design{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .data__design{
        margin: 0 auto;
        align-self: center;
        & .tittle__p{
            @include escrituras;
            line-height: 30px;
            font-size: 30px;
        }
        & h2{
            padding: 5px;
            font-size: 20px;
            text-align: center;
            color: #222222;
        }
        & p{
            text-align: start;
            letter-spacing: normal;
            line-height: 20px;
            font-family: Georgia, "serif";
            color: #605a53;
        }
    }

    .ol__design{
        padding: 0;
        margin: 0;
        & a{
            text-decoration: none;
            font-size: 15px;
            color: #222222;
        }
    } 

    /* Ubicacion Responsive */

    .envios__ubicacion{
        padding: 70px;
        gap: 20px;
        & .row{
            flex-direction: column;
            gap: 10px;
        }
        & .img-fluid{
            width: 75%;
            height: 150px;
        }
        & .p__ubicacion{
            text-align: center;
            padding: 10px;
            font-size: 23px;
        }  
    } 

    /* Contacto Responsive */

    .main__form{
        width: 360px;
    }

    .main__form p {
        padding: 15px;
        line-height: 20px;
    }
}

@media screen and (min-width: 330px) and (max-width: 430px) {
     
    /* Footer Responsive */

    .footer__ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
        border-top: #605a53 1px solid;
          & a {
            cursor: none;
            color: #333;
          }
          & li i {
            align-self: center;
            font-size: 25px;
            padding: 13px;
        }
    }
    
    .footer__tienda li i{
        font-size: 20px;
    }
    /* Nav Responsive */

    .nav__link{
        padding: 5px;
        font-size: 16px;
        text-decoration: underline;
        color: #696969;
    }
    
    /* Index Responsive */
    
    .index__img{
        grid-gap: 30px;
        padding: 0;
        height: 600px;
        & img{
            width: 100%;
        }
        & h1{
            letter-spacing: normal;
            font-size: 20px;
        }
    }
    
    /* Design Responsive */

    .h1__design{
        padding: 20px;
        font-size: 30px;
        border-bottom: 1px solid #605a53;
    }


    .section__design{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .data__design{
        margin: 0 auto;
        align-self: center;
        & .tittle__p{
            @include escrituras;
            line-height: 30px;
            font-size: 25px;
        }
        & h2{
            padding: 5px;
            font-size: 20px;
            text-align: center;
            color: #222222;
        }
        & p{
            text-align: start;
            letter-spacing: normal;
            line-height: 20px;
            font-family: Georgia, "serif";
            color: #605a53;
        }
    }

    .ol__design{
        padding: 0;
        margin: 0;
        & a{
            text-decoration: none;
            font-size: 15px;
            color: #222222;
        }
    } 
    
    /* Ubicacion Responsive */

    .envios__ubicacion{
        padding: 70px;
        gap: 20px;
        & .row{
            flex-direction: column;
            gap: 10px;
        }
        & .img-fluid{
            width: 100%;
            height: 120px;
        }
        & .p__ubicacion{
            text-align: center;
            padding: 10px;
            font-size: 20px;
        }  
    } 
    
    /* Contacto Responsive */

    .main__form{
        width: 330px
    }

    .main__form p {
        padding: 15px;
        line-height: 20px;
    }

}


/* Medidas para Tablets */
    
@media screen and (min-width: 576px) and (max-width: 992px){

     /* Nav Responsive */

     .nav__link{
        padding: 5px;
        font-size: 18px;
        text-decoration: underline;
        color: #696969;
    }

     /* Index Responsive */
     
     .index__img{ 
         padding: 45px;
     }

    /* Design Responsive */

    .h1__design{
        padding: 20px;
        font-size: 35px;   
    }

    .section__design{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .data__design{
        margin: 0 auto;
        align-self: center;
        & .tittle__p{
            @include escrituras;
            line-height: 30px;
            font-size: 35px;
            padding: 5px;
        }
        & h2{
            padding: 0;
            font-size: 25px;
            text-align: start;
            color: #222222;
        }
        & p{
            padding: 5px;
            font-size: 20px;
            text-align: start;
            letter-spacing: normal;
            line-height: 20px;
            font-family: Georgia, "serif";
            color: #605a53;
        }
    }

    .ol__design{
        padding: 5px;
        & a{
            @include escrituras;
            text-decoration: none;
            font-size: 20px;
            color: #222222;
        }
    } 
    .envios__ubicacion{
        padding: 50px;
        gap: 25px;
        & .row{
            flex-direction: row;
            gap: 10px;
        }
        & .img-fluid{
            width: 75%;
            height: 140px;
        }
        & .p__ubicacion{
            text-align: center;
            padding: 10px;
            font-size: 20px;
        } 
    }

    /* Tienda Responsive */

    .img__tienda{
        height: 200px;
        width: 100%;
    }

    .btn__tienda{
        background-color: $my-fourth-color;
        width: 150px;
    }
    
}

 
    