/* Media Query */

/* Medidas para Smartphone */

@media screen and (min-width: 320px) and (max-width: 576px){

    /* Index Responsive */
    
    #index__main{
       height: 100vh;
       padding: 23px;
    }
    
    .index__img{
        display: grid;
        grid-template-columns: repeat(1 2fr);
        grid-auto-rows: minmax(100px, auto);
        padding: 35px;
        place-content: center;
    }
    
    .index__img img{
        width: 100%;
        padding-top: 80px;
    }
    
    /* Design Responsive */

 .section__design{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.data__design{
    margin: 0 auto;
    align-self: center;
    & h1{
        @include escrituras;
        line-height: 30px;
        font-size: 33px;
    }
    & h2{
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }
    & p{
        text-align: start;
        letter-spacing: normal;
        line-height: 15px;
        font-family: Georgia, "serif";
        color: #605a53;
    }
}

.ol__design{
    padding: 5px;
    margin: 0;
    & a{
        text-decoration: none;
        font-size: 15px;
        color: #222222;
    }
    }    
} 
  
    /* Medidas para Tablets */
    
    @media screen and (min-width: 576px) and (max-width: 992px){

    

    #index__main{
        height: 100vh;
     }
     
     .index__img{
         display: grid;
         grid-template-columns: repeat(1 2fr);
         grid-auto-rows: minmax(100px, auto);
         padding: 35px;
         place-content: center;
     }
     
     .index__img img{
         width: 100%;
      
     }
       /* Design Responsive */

 .article__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.section__p{
    margin: 0 auto;
    align-self: center;
    & h1{
        text-align: start;
        letter-spacing: normal;
        line-height: 50px;
        font-family: "adobe-garamond-pro";
    }
    & p{
        text-align: start;
        letter-spacing: normal;
        line-height: 15px;
        font-family: Georgia, "serif";
        color: #605a53;
    }
}

.section__ol{
    padding: 5px;
    margin: 0;
    & a{
        text-decoration: none;
        font-size: 15px;
        color: #222222;
    }
} 
    }

    
    