/* Header General */

#header {
    padding: 12px;
    background-color: $my-color-main;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    & i {
      font-size: 30px; }
  }
  
.nav__link {
  padding: 15px;
  color: 	#696969;
  text-decoration: none;
  font-size: 20px;
  font-family: $my-font-main; }
  
.stay__link{
  font-size: 22px;
  color: 	#000000;
}
  .stay__link:hover{
    color: 	#000000;
}