/* Colores Principales */

$my-color-main: #E3DAC9;
$my-second-color: #4a4e69;
$my-third-color: #b5838d;
$my-fourth-color: #3e8914;


/* Animaciones */

$animaciones-hover: 0.4s;


/* Fuentes */

$my-font-main: 'Rubik', sans-serif;

// MIXIN

@mixin escrituras { 
   text-align: start;
   letter-spacing: normal; 
   font-family: "adobe-garamond-pro";
}

