/* CSS DESING */ 
 .section__design{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.data__design{
    margin: 0 auto;
    align-self: center;
    & h1{
        @include escrituras;
        line-height: 40px;
    }
    & h2{
        @include escrituras;
        line-height: 20px;
        font-size: 25px;
    }
    & p{
        @include escrituras;
        line-height: 19.2px;  
        color: #605a53;
    }
}

.ol__design{
    padding: 10px;
    margin: 0;
    & a{
        @include escrituras;
        text-decoration: none;
        font-size: 15px;
        color: #222222;
    }
} 

.amarillo__esmstd:hover{
    color: #ffb703;
    transition: $animaciones-hover;
}

.crema__esmstd:hover{
    color: #cad2c5;
    transition: $animaciones-hover;
}

.gris__esmstd:hover{
    color: #6c757d;
    transition: $animaciones-hover;
}

.tabaco__esmstd:hover{
    color: #7f4f24;
    transition: $animaciones-hover;
}

.marron__esmstd:hover{
    color: #582f0e;
    transition: $animaciones-hover;
}

.verde__esmstd:hover{
    color: #588157;
    transition: $animaciones-hover;
}

.cyan__esmstd:hover{
    color: #005f73;
    transition: $animaciones-hover;
}

.bone__esmstd:hover{
    color: #e4d0ab;
    transition: $animaciones-hover;
}

