/* CSS DESING */ 
 .article__main{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.section__p{
    margin: 0 auto;
    align-self: center;
    & h1{
        text-align: start;
        letter-spacing: normal;
        line-height: 40px;
        font-family: "adobe-garamond-pro";
    }
    & p{
        text-align: start;
        letter-spacing: normal;
        line-height: 19.2px;
        font-family: Georgia, "serif";
        color: #605a53;
    }
}

.section__ol{
    padding: 10px;
    margin: 0;
    & a{
        text-decoration: none;
        font-size: 15px;
        color: #222222;
    }
} 

 