/* CSS TIENDA */

.main__tienda{
    padding: 70px;
}

.h1__tienda{
    padding: 5px;
    text-align: center;
    font-size: 45px;
    font-family: $my-font-main;
}

.img__tienda{
    height: 270px;
    width: 100%;
}

.btn__tienda{
    background-color: $my-fourth-color;
}

.btn__comprar{
    padding-right: 10px;
}


.footer__tienda{
    border-top: 1px ridge #A0A0A0;
}