/* CSS TIENDA */

#main__tienda{
    padding: 70px;
}

.img__tienda{
    height: 400px;
}

.btn__tienda{
    background-color: $my-fourth-color;
}

.btn__comprar{
    padding-right: 10px;
}


.footer__tienda{
    border-top: 1px ridge #A0A0A0;
}