/* CSS UBICACION */

#main__preg{
    padding-left: 30px;
}

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.mapa__ubicacion{
    display: block;
    width: 100%;
    height: 500px;
    border: 0;
}

.h1__map{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: normal;
    font-family: "adobe-garamond-pro";
}


