.title-container {
  clear: both; }

.title {
  font-size: 28px; }

.subtitle {
  font-size: 18px;
  text-transform: uppercase; }

.title,
.subtitle {
  margin: 10px 0 30px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .title a,
  .subtitle a {
    color: #333333; }
  .title:after, .title:before,
  .subtitle:after,
  .subtitle:before {
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #EEEEEE;
    position: relative;
    top: 0.5em; }
  .title:before,
  .subtitle:before {
    margin-right: 10px; }
  .title:after,
  .subtitle:after {
    margin-left: 10px; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 2px; }
  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    color: #333333; }

.box-title {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  font-weight: bold; }

body,
.font-body {
  font-size: 14px; }

.font-medium, .btn-link-secondary {
  font-size: 16px; }

.font-small, .breadcrumb, .badge-secondary, .pill-link, .nav-head-top, .cart-summary {
  font-size: 12px; }

.font-small-extra {
  font-size: 10px; }

.fa-min {
  font-size: 8px; }

.fa-huge {
  font-size: 6em; }

.weight-normal {
  font-weight: 400; }

.weight-strong {
  font-weight: 700; }

.weight-light {
  font-weight: 300; }

.border-top {
  border-top: 1px solid #EEEEEE !important; }

.border-bottom {
  border-bottom: 1px solid #EEEEEE; }

.border-left {
  border-left: 1px solid #EEEEEE; }

.border-right {
  border-right: 1px solid #EEEEEE; }

.border-none {
  border: 0 !important; }

.text-foreground {
  color: #333333 !important; }

.text-primary {
  color: #2980b9; }

.text-secondary {
  color: #34495e; }

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Montserrat"; }
  body.user-background {
    background-image: url("//d2r9epyceweg5n.cloudfront.net/assets/themes/style/static/default-background.jpg?1486910021"); }

.bg-no-repeat {
  background-repeat: no-repeat; }

.box-container, .list-readonly .list-unstyled {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(51, 51, 51, 0.08);
  background-color: #fefefe;
  border-radius: 4px; }

.circle-box {
  border: dashed #34495e 5px; }

.container-with-border {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #EEEEEE; }

.svg-primary-fill {
  fill: #2980b9; }

.svg-secondary-fill {
  fill: #34495e; }

.svg-text-fill {
  fill: #333333; }

.svg-back-fill {
  fill: #FFFFFF; }

.placeholder-container {
  background: #2980b9;
  background: -moz-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 );
  opacity: 0.5; }

.placeholder-icon {
  fill: rgba(41, 128, 185, 0.5); }

.placeholder-color {
  background-color: rgba(32, 99, 143, 0.75); }

.placeholder-shine,
.placeholder-fade {
  background-color: rgba(255, 255, 255, 0.4); }

.spinner-bar {
  height: 10px;
  width: 60%;
  margin: 20px auto 40px auto;
  border-radius: 4px;
  background: -webkit-linear-gradient(right, #2980b9, #e7f2fa, #2980b9);
  background: linear-gradient(270deg, #2980b9, #e7f2fa, #2980b9);
  background-size: 400% 400%;
  -webkit-animation: spinner-bar 3s ease-in-out infinite;
  animation: spinner-bar 3s ease-in-out infinite; }

@-webkit-keyframes spinner-bar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes spinner-bar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.breadcrumb li {
  padding: 0; }
.breadcrumb-crumb {
  color: rgba(51, 51, 51, 0.8); }

.btn {
  position: relative;
  height: 50px;
  padding: 14px 20px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    outline: 0; }

.btn-circle {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
  cursor: pointer;
  text-decoration: none;
  outline: 0; }
  .btn-circle:hover, .btn-circle:focus {
    text-decoration: none;
    outline: 0; }
  .btn-circle:hover {
    opacity: 0.8; }

.btn-primary {
  color: #FFFFFF;
  fill: #FFFFFF;
  border: none;
  border-bottom: 4px solid #22303d;
  background: #34495e;
  background: -moz-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 ); }
  .btn-primary:hover {
    background: #34495e;
    background: -moz-linear-gradient(top, rgba(52, 73, 94, 0.8) 0%, #34495e 100%);
    background: -webkit-linear-gradient(top, rgba(52, 73, 94, 0.8) 0%, gradient 100%);
    background: linear-gradient(to bottom, rgba(52, 73, 94, 0.8) 0%, #34495e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.8)', endColorstr='$gradient',GradientType=0 );
    color: #FFFFFF;
    border: none;
    border-bottom: 0; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary[disabled], .btn-primary.disabled, .btn-primary[disabled]:hover, .btn-primary.disabled:hover {
    background: #34495e;
    background: -moz-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 );
    color: #FFFFFF;
    border: none;
    border-bottom: 0;
    outline: none;
    box-shadow: none; }
  .btn-primary[disabled], .btn-primary[disabled]:hover {
    opacity: 0.8; }

.btn-secondary, .btn-tertiary {
  background: #2980b9;
  background: -moz-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 );
  color: #FFFFFF;
  fill: #FFFFFF;
  text-transform: uppercase;
  border: none;
  border-bottom: 4px solid #20638f; }
  .btn-secondary:hover, .btn-tertiary:hover {
    background: #2980b9;
    background: -moz-linear-gradient(top, rgba(41, 128, 185, 0.8) 0%, #2980b9 100%);
    background: -webkit-linear-gradient(top, rgba(41, 128, 185, 0.8) 0%, gradient 100%);
    background: linear-gradient(to bottom, rgba(41, 128, 185, 0.8) 0%, #2980b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.8)', endColorstr='$gradient',GradientType=0 );
    color: #FFFFFF;
    border: none;
    border-bottom: 0; }
  .btn-secondary:focus, .btn-tertiary:focus, .btn-secondary:active, .btn-tertiary:active, .btn-secondary:active:hover, .btn-tertiary:active:hover {
    background: #2980b9;
    background: -moz-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(41, 128, 185, 0.7) 0%, rgba(41, 128, 185, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 );
    color: #FFFFFF;
    border: none;
    border-bottom: 0; }
  .btn-secondary[disabled], [disabled].btn-tertiary, .btn-secondary[disabled]:hover, [disabled].btn-tertiary:hover {
    background-color: #DDD;
    color: #FFFFFF;
    border: none;
    border-bottom: 0; }

.btn-tertiary {
  background: rgba(41, 128, 185, 0.2);
  color: #2980b9;
  fill: #2980b9;
  border-bottom: 4px solid rgba(41, 128, 185, 0.4); }
  .btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary:active:hover {
    background: rgba(41, 128, 185, 0.2);
    color: #2980b9;
    fill: #2980b9;
    border-bottom: 4px solid rgba(41, 128, 185, 0.4); }
  .btn-tertiary:hover {
    opacity: 0.6; }
  .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary:active:hover {
    opacity: 0.8; }
  .btn-tertiary[disabled], .btn-tertiary[disabled]:hover {
    background: rgba(41, 128, 185, 0.2);
    color: #2980b9;
    fill: #2980b9;
    border-bottom: 4px solid rgba(41, 128, 185, 0.4);
    cursor: not-allowed;
    opacity: 0.6; }

.btn-default {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #7796b4;
  border-radius: 4px; }
  .btn-default svg {
    fill: #333333; }
  .btn-default:hover, .btn-default:focus {
    color: #333333;
    background-color: #FFFFFF;
    border-color: #EEEEEE;
    opacity: 0.8; }
  .btn-default-icon {
    width: 18px;
    height: 20px;
    fill: rgba(51, 51, 51, 0.6);
    float: right; }

.transparent {
  background: transparent; }

.btn-link {
  position: relative;
  color: #2980b9;
  fill: #2980b9;
  text-decoration: underline;
  text-transform: none;
  font-size: 18px; }
  .btn-link:hover, .btn-link:focus {
    color: #2980b9;
    opacity: 0.8; }
  .btn-link-small {
    font-size: 14px; }
  .btn-link-small-extra {
    font-size: 12px; }

.btn-link-secondary {
  text-transform: uppercase;
  font-weight: bold; }

.btn-link-text {
  color: #333333;
  fill: #333333; }

.btn-append {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.btn-small {
  height: 35px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 30px; }

.btn-floating {
  position: absolute;
  top: 5px;
  right: 5px;
  height: auto;
  padding: 5px;
  opacity: 0.5;
  border: 0;
  z-index: 100; }
  .btn-floating svg {
    fill: #333333; }
  .btn-floating:hover, .btn-floating:focus {
    opacity: 0.8; }
  .btn-floating.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 15px;
    right: 15px; }

.btn-whatsapp {
  color: white;
  background-color: #4dc247;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 50%; }
  .btn-whatsapp svg {
    width: 40px;
    height: 40px;
    padding: 5px 2px;
    fill: white;
    vertical-align: middle; }

a {
  color: rgba(51, 51, 51, 0.8);
  text-decoration: none; }
  a:hover {
    color: #2980b9;
    text-decoration: none; }
  a:active, a:focus, a:hover {
    outline: 0;
    box-shadow: none; }

.link-module {
  border-bottom: 1px solid #EEEEEE; }

.link-module-icon {
  fill: #2980b9; }

.link-module-icon-right {
  fill: #333333; }

.chip {
  color: #34495e;
  background-color: rgba(51, 51, 51, 0.05);
  border: 1px dashed rgba(51, 51, 51, 0.2); }
  .chip-remove-icon {
    fill: #FFFFFF;
    background-color: #34495e; }

.modal-header {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .modal-header .nav-tabs-container {
    border-bottom: 0; }

.modal-body {
  float: left;
  width: 100%;
  background: #FFFFFF;
  color: #333333;
  border-radius: 0 0 6px 6px; }

.modal-right,
.modal-content {
  background: #FFFFFF;
  color: #333333; }

.modal-footer {
  background: #FFFFFF;
  color: #333333;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  box-shadow: none; }

.nav-tabs-container {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }

.nav-tabs-links {
  border-bottom: 0; }

.nav-tabs .tab.active .tab-link {
  color: #2980b9;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #2980b9; }
.nav-tabs .tab-link {
  background-color: transparent; }
  .nav-tabs .tab-link:hover, .nav-tabs .tab-link:focus {
    background-color: transparent !important; }
.nav-tabs .tab-check.active .tab-check-link,
.nav-tabs .tab-check.active .tab-check-link:focus {
  outline: 2px solid #2980b9; }
.nav-tabs .tab-check-link-text {
  outline: 1px solid rgba(51, 51, 51, 0.3); }
.nav-tabs .tab-check-icon {
  color: #2980b9; }
  .nav-tabs .tab-check-icon .fa-inverse {
    color: #FFFFFF; }

.panel {
  background-color: #FFFFFF;
  border: 1px solid rgba(51, 51, 51, 0.2); }
  .panel-heading {
    background-color: rgba(51, 51, 51, 0.1) !important;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2); }
  .panel-footer {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(51, 51, 51, 0.2); }
  .panel-item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2); }

.badge {
  background: #2980b9;
  color: #FFFFFF; }

.badge-secondary {
  background: #34495e;
  color: #FFFFFF;
  font-weight: bold; }

.tooltip {
  color: #2980b9;
  background: whitesmoke;
  border-bottom: 2px solid rgba(51, 51, 51, 0.6);
  box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.15); }
  .tooltip a,
  .tooltip svg {
    color: #2980b9;
    fill: #2980b9; }
  .tooltip .tooltip-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid whitesmoke; }

.divider {
  float: left;
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }

hr {
  border-top-color: #EEEEEE; }

.form-control {
  height: 42px;
  color: rgba(51, 51, 51, 0.8);
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE; }
  .form-control-small {
    height: 35px; }

.dropdown-toggle {
  border: 0; }

.dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(51, 51, 51, 0.1); }
  .dropdown-menu li a {
    color: #333333; }
    .dropdown-menu li a:hover {
      background-color: rgba(51, 51, 51, 0.2); }

select {
  border: 1px solid rgba(51, 51, 51, 0.06);
  padding: 4px; }

.select-container:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="%23333333"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>'); }

.radio-button-container .radio-button-content {
  background-color: #FFFFFF;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-shadow: inset 0 -3px 1px rgba(51, 51, 51, 0.3);
  border-radius: 4px; }
.radio-button-container .radio-button input[type="radio"]:checked + .radio-button-content {
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .radio-button-container .radio-button input[type="radio"]:checked + .radio-button-content .radio-button-icons-container {
    background-color: #2980b9; }
    .radio-button-container .radio-button input[type="radio"]:checked + .radio-button-content .radio-button-icons-container .unchecked {
      border: 2px solid #FFFFFF; }
    .radio-button-container .radio-button input[type="radio"]:checked + .radio-button-content .radio-button-icons-container .checked {
      background-color: #FFFFFF;
      border: 3px solid #2980b9; }
  .radio-button-container .radio-button input[type="radio"]:checked + .radio-button-content .shipping-price {
    color: #2980b9; }
.radio-button-container .radio-button input[type="radio"] + .radio-button-content .unchecked {
  border: 2px solid #333333; }
.radio-button-container .radio-button input[type="radio"] + .radio-button-content .checked {
  background-color: #2980b9; }

.checkbox-container .checkbox {
  color: #333333;
  fill: #333333;
  background-color: #FFFFFF;
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-bottom: 4px solid rgba(51, 51, 51, 0.3); }
  .checkbox-container .checkbox-color {
    border: 1px solid rgba(51, 51, 51, 0.3); }
  .checkbox-container .checkbox:hover {
    border: 2px solid #333333;
    border-bottom: 4px solid #333333; }
.checkbox-container input:checked ~ .checkbox {
  border: 2px solid rgba(52, 73, 94, 0.8);
  border-bottom: 4px solid rgba(52, 73, 94, 0.8); }

.list-readonly .list-item {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .list-readonly .list-item .radio-button-content {
    border: none;
    box-shadow: none;
    background-color: transparent; }
.list-readonly .shipping-extra-options .list-item:first-child {
  border-top: 1px solid rgba(51, 51, 51, 0.1); }
  .list-readonly .shipping-extra-options .list-item:first-child .radio-button-content {
    border-top: none; }
.list-readonly .list-item:only-child,
.list-readonly .list-item:last-of-type {
  border-bottom: none; }

.alert {
  background: #FFFFFF; }
  .alert-primary {
    border-color: #34495e;
    color: #34495e; }
    .alert-primary:before {
      color: #34495e; }
  .alert-danger, .alert-error {
    border-color: #cc4845;
    color: #cc4845; }
    .alert-danger:before, .alert-error:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" fill="%23cc4845"><path d="M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z"/></svg>'); }
  .alert-warning {
    border-color: #fdb333;
    color: #cc8710; }
    .alert-warning:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="%23cc8710"><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>'); }
  .alert-info {
    border-color: #3d9ccc;
    color: #3d9ccc; }
    .alert-info:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" fill="%233d9ccc"><path d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"/></svg>'); }
  .alert-success {
    border-color: #3caf65;
    color: #3caf65; }
    .alert-success:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%233caf65"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>'); }

.notification-primary {
  background: #FFFFFF;
  border-color: #34495e;
  color: #34495e;
  border-top: 1px solid #EEEEEE; }
  .notification-primary:before {
    color: #34495e;
    -webkit-box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 2px rgba(51, 51, 51, 0.5); }
.notification-secondary {
  background: #f7f7f7;
  border-top: 1px solid #EEEEEE;
  color: rgba(51, 51, 51, 0.8);
  fill: rgba(51, 51, 51, 0.8); }
  .notification-secondary a {
    color: #34495e; }
.notification-danger {
  color: #cc4845;
  fill: #cc4845; }

.notification-centered {
  box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3); }

.pagination > li > a {
  background-color: #FFFFFF;
  color: #333333;
  margin-bottom: 5px; }
.pagination > li > a:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #EEEEEE; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover {
  color: #333333;
  background-color: #e7f2fa;
  border-color: #EEEEEE; }

.swiper-pagination-bullet {
  background: rgba(51, 51, 51, 0.2); }
  .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
    background: #2980b9; }

.slider-arrow {
  fill: #333333; }
  .slider-arrow:hover {
    fill: #2980b9; }

.pills-container {
  background-color: rgba(51, 51, 51, 0.03); }

.pill-link {
  padding: 10px;
  color: #FFFFFF;
  border: none;
  border-bottom: 4px solid #22303d;
  background: #34495e;
  background: -moz-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(52, 73, 94, 0.7) 0%, rgba(52, 73, 94, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.7)', endColorstr='rgba($gradient,.9)',GradientType=0 );
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .pill-link-small {
    margin: 0 5px 8px 0;
    padding: 8px;
    font-size: 10px; }
  .pill-link:hover, .pill-link:focus {
    color: #FFFFFF;
    background: #34495e;
    background: -moz-linear-gradient(top, rgba(52, 73, 94, 0.8) 0%, #34495e 100%);
    background: -webkit-linear-gradient(top, rgba(52, 73, 94, 0.8) 0%, gradient 100%);
    background: linear-gradient(to bottom, rgba(52, 73, 94, 0.8) 0%, #34495e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($gradient,.8)', endColorstr='$gradient',GradientType=0 ); }

.label {
  color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.3);
  -ms-box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.3); }
  .label-secondary, .label-accent {
    background: #34495e; }
  .label-primary {
    background: #2980b9; }
  .label-primary-dark {
    background: #0d293c; }

.table-striped tbody > tr:nth-child(odd) > th,
.table-striped tbody > tr:nth-child(odd) > td {
  background-color: rgba(51, 51, 51, 0.03); }
.table-striped > thead > tr > th {
  border-bottom: 0; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 0; }

.service-link {
  color: #333333; }

.textbanner-text {
  color: #333333;
  background-color: #f7f7f7; }
.textbanner-shape:before {
  border-color: transparent transparent #f7f7f7 transparent; }
.textbanner-image {
  background-color: #f0f0f0; }
  .textbanner-image:after {
    background: #2980b9; }

.module-image {
  background-color: #f7f7f7; }

.module-text {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.9); }

.video-container {
  margin: 20px 0;
  background-color: #f7f7f7; }

.product-video-container {
  background-color: rgba(51, 51, 51, 0.07); }

.embed-responsive {
  background: #333333; }

.shape-container {
  position: absolute;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 470px;
  margin-top: -470px;
  overflow: hidden; }

.background-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -999;
  width: 100%;
  height: 300px;
  background: #fafafa; }
  .background-shape:after {
    position: absolute;
    top: -170px;
    left: 0;
    border-style: solid;
    border-width: 0 0 170px 100vw;
    border-color: transparent transparent #fafafa transparent;
    content: ''; }

.instafeed-module .instafeed-item {
  display: inline-block; }
  .instafeed-module .instafeed-item .instafeed-link {
    position: relative;
    display: block;
    padding-top: 100%;
    overflow: hidden; }
  .instafeed-module .instafeed-item .instafeed-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .instafeed-module .instafeed-item .instafeed-info {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0 5px;
    border-radius: 14px;
    font-size: 10px;
    background-color: #2980b9;
    color: #FFFFFF;
    fill: #FFFFFF; }
    .instafeed-module .instafeed-item .instafeed-info .instafeed-info-item {
      display: inline-block;
      margin: 5px; }

.fb-page-img-container {
  background: #FFFFFF; }

.section-advertising {
  color: #FFFFFF;
  background-color: #2980b9; }
  .section-advertising a {
    color: #FFFFFF; }

.logo-text {
  color: #2980b9;
  font-family: "Montserrat"; }

.nav-head {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
  -ms-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15); }
  .nav-head-top {
    border-bottom: 1px solid #EEEEEE; }

.nav-head-fixed {
  background: #FFFFFF; }

.desktop-nav {
  background-color: #FFFFFF; }
  .desktop-nav-arrow {
    fill: rgba(51, 51, 51, 0.8); }
  .desktop-nav-item {
    background: #FFFFFF; }
    .desktop-nav-item:hover > .desktop-nav-link {
      color: #2980b9; }
    .desktop-nav-item .desktop-nav-item {
      border-bottom: 1px solid #EEEEEE;
      border-left: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE; }
      .desktop-nav-item .desktop-nav-item:first-child {
        border-top: 1px solid #EEEEEE; }
      .desktop-nav-item .desktop-nav-item:last-child {
        border-bottom: 1px solid #EEEEEE; }
      .desktop-nav-item .desktop-nav-item:hover {
        background-color: #2980b9; }
      .desktop-nav-item .desktop-nav-item:hover > .desktop-nav-link {
        color: #FFFFFF; }
        .desktop-nav-item .desktop-nav-item:hover > .desktop-nav-link .desktop-nav-arrow {
          fill: #FFFFFF; }
  .desktop-nav-item.selected > .desktop-nav-link {
    color: #2980b9;
    font-weight: bold; }
    .desktop-nav-item.selected > .desktop-nav-link .desktop-nav-arrow {
      fill: #2980b9; }
  .desktop-nav-list {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: #FFFFFF; }

.desktop-search-input {
  height: 28px; }

.desktop-search-icon {
  fill: rgba(51, 51, 51, 0.8); }

.search-suggest {
  background-color: #FFFFFF; }
  .search-suggest-link, .search-suggest-icon {
    color: rgba(51, 51, 51, 0.8);
    fill: rgba(51, 51, 51, 0.8); }
    .search-suggest-link:hover, .search-suggest-link:focus, .search-suggest-icon:hover, .search-suggest-icon:focus {
      color: rgba(51, 51, 51, 0.6);
      background-color: #f7f7f7; }
  .search-suggest-price {
    color: #2980b9;
    font-weight: bold; }
  .search-suggest-icon {
    color: rgba(51, 51, 51, 0.8); }
  .search-suggest-all-link {
    background-color: #f7f7f7; }

.cart-summary {
  color: rgba(51, 51, 51, 0.8); }

.filters-overlay {
  background-color: rgba(255, 255, 255, 0.85); }

.item {
  background-color: #FFFFFF; }
  .item-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: #2980b9;
    transition: opacity .15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    z-index: 1; }
  .item:hover .item-overlay {
    opacity: 0.6; }
  .item-info-container {
    background-color: #f7f7f7; }
  .item-info {
    border-color: transparent transparent #f7f7f7 transparent; }
  .item-info:before {
    border-color: transparent transparent #f7f7f7 transparent; }
  .item-price {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat"; }
  .item-price-compare {
    letter-spacing: 2px;
    font-family: "Montserrat"; }
  .item-colors-bullet {
    border: 1px solid rgba(51, 51, 51, 0.5); }
    .item-colors-bullet.selected {
      border: 2px solid #333333; }

.installments {
  text-transform: uppercase; }

.item-quickshop-link {
  background-color: #FFFFFF;
  opacity: 0.9; }
  .item-quickshop-link a {
    color: #333333; }

.cloud-zoom-loading {
  background: #FFFFFF;
  color: #333333;
  border-radius: 5px; }

.price-compare {
  letter-spacing: 0;
  color: rgba(51, 51, 51, 0.6);
  text-decoration: line-through; }

.product-price {
  letter-spacing: 0;
  font-weight: 400; }

.product-selected-gateway {
  color: #333333; }

.product-variants {
  float: left;
  width: 100%;
  padding-top: 20px;
  border-top: 1px dashed rgba(51, 51, 51, 0.2);
  border-bottom: 1px dashed rgba(51, 51, 51, 0.2); }

.variant-label {
  font-family: "Montserrat"; }

.btn-variant {
  color: #333333;
  border: 2px solid rgba(51, 51, 51, 0.2); }
  .btn-variant-custom {
    background: #FFFFFF; }
  .btn-variant:hover, .btn-variant:focus {
    color: #333333; }
  .btn-variant.selected {
    border: 2px solid #2980b9; }

.product-shipping-calculator li input[type="radio"]:checked + .shipping-option {
  background: transparent;
  color: #333333; }
.product-shipping-calculator .radio-button-icons {
  display: none; }

.footer {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE; }

.footer-legal {
  background: #FFFFFF; }
  .footer-legal .powered-by-logo svg {
    fill: #333333; }

.map {
  border-color: #EEEEEE; }

.cart-table-row {
  background: #FFFFFF; }

.cart-quantity-btn {
  color: rgba(51, 51, 51, 0.6);
  fill: rgba(51, 51, 51, 0.6);
  border: 1px solid rgba(51, 51, 51, 0.6); }

.cart-quantity-input {
  border: 0;
  border-top: 1px solid rgba(51, 51, 51, 0.6);
  border-bottom: 1px solid rgba(51, 51, 51, 0.6); }

.cart-totals-container {
  background: #FFFFFF; }

.total-promotions,
.cart-total {
  color: #34495e;
  font-weight: bold; }

.ajax-cart-table-header {
  border-top: 1px solid rgba(52, 73, 94, 0.2);
  border-bottom: 1px solid rgba(52, 73, 94, 0.2); }

.ajax-cart-item {
  border-bottom: 1px solid rgba(52, 73, 94, 0.2);
  background: rgba(150, 150, 150, 0.06); }

@media (max-width: 767px) {
  .title {
    font-size: 18px; }

  .h1-xs {
    font-size: 36px; }

  .h2-xs {
    font-size: 30px; }

  .h3-xs {
    font-size: 24px; }

  .h4-xs {
    font-size: 18px; }

  .h5-xs {
    font-size: 14px; }

  .h6-xs {
    font-size: 12px; }

  .font-body-xs {
    font-size: 14px; }

  .font-medium-xs {
    font-size: 16px; }

  .font-small-xs {
    font-size: 12px; }

  .font-small-extra-xs {
    font-size: 10px; }

  .btn-small-xs {
    font-size: 10px;
    letter-spacing: 1px; }

  .weight-normal-xs {
    font-weight: 400; }

  .weight-strong-xs {
    font-weight: 700; }

  .weight-light-xs {
    font-weight: 300; }

  .container-with-border-top-xs {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #EEEEEE; }

  .btn-module {
    color: #333333;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
    background: #FFFFFF;
    font-family: "Montserrat"; }
    .btn-module:hover
    .btn-module:focus {
      color: #333333; }
    .btn-module-icon {
      fill: #2980b9; }

  .modal-xs {
    background-color: #FFFFFF; }
    .modal-xs.sheet-bottom {
      background-color: transparent; }
    .modal-xs .sheet-bottom-body {
      background-color: #FFFFFF; }
    .modal-xs-header {
      color: #333333;
      fill: #333333; }
      .modal-xs-header.sheet-bottom-header {
        background-color: #fafafa; }
        .modal-xs-header.sheet-bottom-header:active {
          background-color: #fafafa;
          color: #333333; }
      .modal-xs-header:active {
        background-color: #2980b9;
        color: #FFFFFF; }
        .modal-xs-header:active .modal-xs-header-icon {
          color: #FFFFFF;
          fill: #FFFFFF; }
    .modal-xs.inverse {
      background-color: #333333; }
      .modal-xs.inverse .modal-xs-header {
        color: #FFFFFF;
        fill: #FFFFFF; }
      .modal-xs.inverse .modal-xs-header-icon {
        color: #FFFFFF;
        fill: #FFFFFF; }
      .modal-xs.inverse .modal-content {
        background-color: #333333;
        color: #FFFFFF; }

  .modal-xs-list-item {
    color: #333333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25); }
    .modal-xs-list-item.darker {
      background-color: rgba(51, 51, 51, 0.02); }
    .modal-xs-list-item .modal-xs-list-icon {
      fill: #2980b9; }
    .modal-xs-list-item:active {
      background-color: #2980b9;
      color: #FFFFFF; }
      .modal-xs-list-item:active .modal-xs-list-icon {
        color: #FFFFFF;
        fill: #FFFFFF; }
    .modal-xs-list-item.selected {
      color: #FFFFFF;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      background: #2980b9; }
      .modal-xs-list-item.selected .modal-xs-radio-icon {
        background: #FFFFFF; }
        .modal-xs-list-item.selected .modal-xs-radio-icon svg {
          visibility: visible;
          fill: #2980b9; }
    .modal-xs-list-item .modal-xs-radio-icon {
      background: rgba(41, 128, 185, 0.4);
      color: #2980b9; }
    .modal-xs-list-item.inverse {
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      .modal-xs-list-item.inverse .modal-xs-list-icon {
        fill: #FFFFFF; }

  .modal-footer {
    border: 0; }

  .table-responsive {
    border-color: #EEEEEE; }

  .pagination {
    background: #e6e6e6; }
    .pagination > li > a, .pagination > li > span, .pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover {
      background-color: transparent;
      border: 0; }
    .pagination-input {
      color: #333333; }
    .pagination-icon {
      float: left;
      color: #333333; }

  .hamburger-panel-link:hover, .hamburger-panel-link:focus {
    background: #2980b9;
    color: #FFFFFF; }
  .hamburger-panel-link.selected .hamburger-panel-arrow {
    background-color: #2980b9; }
  .hamburger-panel-link.selected svg {
    transform-origin: center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }

  .mobile-nav {
    background-color: #FFFFFF; }
    .mobile-nav-first-row-icon {
      fill: #333333; }
    .mobile-nav-tab:hover {
      color: #333333; }
    .mobile-nav-tab.selected .mobile-nav-tab-icon {
      fill: #2980b9; }
    .mobile-nav-tab.selected .mobile-nav-tab-text {
      color: #2980b9; }
    .mobile-nav .mobile-nav-tab-icon {
      fill: #333333; }
    .mobile-nav.move-up {
      box-shadow: 2px 0px 5px rgba(51, 51, 51, 0.3); }

  .mobile-nav-arrow-up {
    background-color: #FFFFFF; }
    .mobile-nav-arrow-up svg {
      fill: #333333; }

  .mobile-nav-categories-container {
    background-color: #333333;
    box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

  .backdrop.search-backdrop {
    background-color: rgba(255, 255, 255, 0.9); }

  .btn-filter {
    margin: 10px 10px 5px 0;
    padding: 5px 10px; }

  .item-price {
    margin: 2px 0;
    font-size: 16px;
    font-weight: bold; }

  .product-price {
    font-size: 30px; }

  .mobile-zoom-panel {
    background: #FFFFFF; } }

/*# sourceMappingURL=main-color.css.map */
